{% extends 'base.html' %} {% load static %}{% block title %} Product {% endblock %} {% block content %}
<div class="container py-5">
    <div class="class row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="{% static 'img/games/game14.jpg' %}" class="card-img-top" alt="">
        </div>
        <div class="col-10 mx-auto col-md-6 my-3">
            <h1 class="product_title">FIFA 2020</h1>
            <h5 class="text-info font-italic mb-3 ">
                <span class="mr-1 ">$</span> 499
            </h5>
            <p class="product_description">Product Description</p>
            <p class="text-justify product_text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, s ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud xercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."Lorem
                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
            <p class="text-justify product_text"><b>Out of Stock</b></p>
        </div>
    </div>
</div> {% endblock %}